In [ ]:
import wrds
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

# Establish WRDS connection
db = wrds.Connection(wrds_username='changjulian17')

# Query OptionMetrics data
# Example: Get option data for SPY
query = """
SELECT 
    *
FROM optionm.opprcd2023
WHERE  date >= '2023-01-01'
    AND date <= '2023-01-05'
ORDER BY date, strike_price, cp_flag
"""

# Execute query and load into DataFrame
option_data = db.raw_sql(query)

print(f"Retrieved {len(option_data)} option records")
print(option_data.head())

# Close connection
# db.close()

Loading library list...
Done
Retrieved 4098170 option records
      secid        date            symbol symbol_flag      exdate   last_date  \
0  126890.0  2023-01-03  QRTEA 230120C250           1  2023-01-20  2023-01-03
1  113993.0  2023-01-03    GME 230120C250           1  2023-01-20  2022-12-27
2  126890.0  2023-01-03  QRTEA 230120P250           1  2023-01-20  2022-12-19
3  113993.0  2023-01-03    GME 230120P250           1  2023-01-20  2023-01-03
4  123324.0  2023-01-03     CS 240119C400           1  2024-01-19  2022-12-09

  cp_flag  strike_price  best_bid  best_offer  ...     theta     optionid  \
0       C         250.0       1.3         1.4  ...      <NA>  136047040.0
1       C         250.0      16.6       18.95  ...      <NA>  140760270.0
2       P         250.0       0.0        0.05  ... -1.045395  136047045.0
3       P         250.0       0.0        0.01  ...  -0.44572  140760271.0
4       C         400.0      2.54        2.94  ... -0.069832  151285645.0

   cfadj  am_settlement  contract_size  ss_flag  forward_price  \
0    1.0            0.0          100.0        0           <NA>
1    4.0            0.0          100.0        0           <NA>
2    1.0            0.0          100.0        0           <NA>
3    4.0            0.0          100.0        0           <NA>
4    1.0            0.0          100.0        0           <NA>

   expiry_indicator  root  suffix
0              <NA>  <NA>    <NA>
1              <NA>  <NA>    <NA>
2              <NA>  <NA>    <NA>
3              <NA>  <NA>    <NA>
4              <NA>  <NA>    <NA>

[5 rows x 26 columns]

In [ ]:
db = wrds.Connection(wrds_username='changjulian17')

query = """
SELECT 
    *
FROM optionm.secnmd
"""

# Execute query and load into DataFrame
option_name = db.raw_sql(query)

print(f"Retrieved {len(option_data)} option records")
print(option_data.head())

# Close connection
db.close()

Loading library list...
Done
Retrieved 4098170 option records
      secid        date            symbol symbol_flag      exdate   last_date  \
0  126890.0  2023-01-03  QRTEA 230120C250           1  2023-01-20  2023-01-03
1  113993.0  2023-01-03    GME 230120C250           1  2023-01-20  2022-12-27
2  126890.0  2023-01-03  QRTEA 230120P250           1  2023-01-20  2022-12-19
3  113993.0  2023-01-03    GME 230120P250           1  2023-01-20  2023-01-03
4  123324.0  2023-01-03     CS 240119C400           1  2024-01-19  2022-12-09

  cp_flag  strike_price  best_bid  best_offer  ...     theta     optionid  \
0       C         250.0       1.3         1.4  ...      <NA>  136047040.0
1       C         250.0      16.6       18.95  ...      <NA>  140760270.0
2       P         250.0       0.0        0.05  ... -1.045395  136047045.0
3       P         250.0       0.0        0.01  ...  -0.44572  140760271.0
4       C         400.0      2.54        2.94  ... -0.069832  151285645.0

   cfadj  am_settlement  contract_size  ss_flag  forward_price  \
0    1.0            0.0          100.0        0           <NA>
1    4.0            0.0          100.0        0           <NA>
2    1.0            0.0          100.0        0           <NA>
3    4.0            0.0          100.0        0           <NA>
4    1.0            0.0          100.0        0           <NA>

   expiry_indicator  root  suffix
0              <NA>  <NA>    <NA>
1              <NA>  <NA>    <NA>
2              <NA>  <NA>    <NA>
3              <NA>  <NA>    <NA>
4              <NA>  <NA>    <NA>

[5 rows x 26 columns]

In [8]:
option_name

,secid,effect_date,cusip,ticker,class,issuer,issue,sic
0,5001.0,1996-01-02,00078110,ABSIE,<NA>,ABS INDUSTRIES INC,<NA>,<NA>
1,5001.0,2007-03-08,00078110,ZZZZ,<NA>,ABS INDS INC,COM,3462
2,5002.0,1996-01-01,00103010,AELNA,<NA>,AEL INDUSTRIES - CI A,<NA>,<NA>
3,5003.0,1996-01-01,00103810,AFAP,<NA>,AFA PROTECTIVE SYSTEMS INC,<NA>,<NA>
4,5003.0,1999-07-08,00103810,AFAPE,<NA>,AFA PROTECTIVE SYSTEMS INC,<NA>,<NA>
...,...,...,...,...,...,...,...,...
265198,219171.0,2024-01-03,13206179,MYLD,<NA>,CAMBRIA ETF TRUST,CAMBRIA MICRO AND SM,<NA>
265199,219172.0,2024-01-03,13206178,TYLD,<NA>,CAMBRIA ETF TRUST,CAMBRIA TACTICAL YIE,<NA>
265200,219173.0,2024-01-04,26923N68,SKRE,<NA>,ETF OPPORTUNITIES TRUST,TUTTLE CAPITAL DAILY,<NA>
265201,219174.0,2024-01-04,99999999,CGON,<NA>,CG ONCOLOGY INC.,ORDINARY SHARES,2836
265202,219175.0,2024-01-05,99999999,AS,<NA>,AMER SPORTS INC.,ORDINARY SHARES,2300

In [9]:
a = option_name[option_name['ticker'] == 'SPY']
a

,secid,effect_date,cusip,ticker,class,issuer,issue,sic
5563,7571.0,1996-10-28,81750M10,SPY,<NA>,SERENPET INC,<NA>,<NA>
10623,100155.0,2009-11-02,32299W10,SPY,I,SPDR TRUST SERIES 1,INTRADAY,9999
71921,109820.0,1996-01-02,78462F10,SPY,<NA>,SPDR TR,UNIT SER 1,<NA>
71922,109820.0,2000-11-28,78462F10,SPY,<NA>,SPDR TR,UNIT SER 1,6726
71923,109820.0,2010-01-28,78462F10,SPY,<NA>,SPDR S&P 500 ETF TR,UNIT SER 1 S&P,6726
71924,109820.0,2010-07-08,78462F10,SPY,<NA>,SPDR S&P 500 ETF TR,TR UNIT,6726
71925,109820.0,2017-12-26,78462F10,SPY,<NA>,SPDR S&P 500 ETF TR,TR UNIT,6733
71926,109820.0,2020-07-27,78462F10,SPY,<NA>,SSGA ACTIVE TRUST,SSGA SPDR S&P 500,<NA>
71927,109820.0,2021-02-25,78462F10,SPY,<NA>,SSGA ACTIVE TRUST,SPDR S&P 500 ETF TRU,<NA>
71928,109820.0,2021-03-01,78462F10,SPY,<NA>,SSGA ACTIVE TRUST,S&P 500 ETF TRUST ET,<NA>
71929,109820.0,2023-02-23,78462F10,SPY,<NA>,SSGA ACTIVE TRUST,SPDR S&P 500 ETF TRU,<NA>
101128,115101.0,2009-11-02,93099W10,SPY,N,SPDR TURST SERIES 1,NAV,9999

In [10]:
option_data.head()

,secid,date,symbol,symbol_flag,exdate,last_date,cp_flag,strike_price,best_bid,best_offer,...,theta,optionid,cfadj,am_settlement,contract_size,ss_flag,forward_price,expiry_indicator,root,suffix
0,126890.0,2023-01-03,QRTEA 230120C250,1,2023-01-20,2023-01-03,C,250.0,1.3,1.4,...,<NA>,136047040.0,1.0,0.0,100.0,0,<NA>,<NA>,<NA>,<NA>
1,113993.0,2023-01-03,GME 230120C250,1,2023-01-20,2022-12-27,C,250.0,16.6,18.95,...,<NA>,140760270.0,4.0,0.0,100.0,0,<NA>,<NA>,<NA>,<NA>
2,126890.0,2023-01-03,QRTEA 230120P250,1,2023-01-20,2022-12-19,P,250.0,0.0,0.05,...,-1.045395,136047045.0,1.0,0.0,100.0,0,<NA>,<NA>,<NA>,<NA>
3,113993.0,2023-01-03,GME 230120P250,1,2023-01-20,2023-01-03,P,250.0,0.0,0.01,...,-0.44572,140760271.0,4.0,0.0,100.0,0,<NA>,<NA>,<NA>,<NA>
4,123324.0,2023-01-03,CS 240119C400,1,2024-01-19,2022-12-09,C,400.0,2.54,2.94,...,-0.069832,151285645.0,1.0,0.0,100.0,0,<NA>,<NA>,<NA>,<NA>

In [13]:
option_data[option_data['secid'] == '109820.0'].head()

Empty DataFrame
Columns: [secid, date, symbol, symbol_flag, exdate, last_date, cp_flag, strike_price, best_bid, best_offer, volume, open_interest, impl_volatility, delta, gamma, vega, theta, optionid, cfadj, am_settlement, contract_size, ss_flag, forward_price, expiry_indicator, root, suffix]
Index: []

[0 rows x 26 columns]

In [15]:
unique_secids = option_data['secid'].unique()

# Create mapping from secid to symbol
secid_symbol_mapping = option_name.set_index('secid')['ticker'].to_dict()

# Map secids in option_data to symbols
option_data_with_symbols = option_data.copy()
option_data_with_symbols['symbol'] = option_data_with_symbols['secid'].map(secid_symbol_mapping)

# Show the mapping for unique secids
secid_summary = option_data_with_symbols.groupby(['secid', 'symbol']).size().reset_index(name='count')
print("SecID to Symbol Mapping:")
print(secid_summary.sort_values('count', ascending=False))

SecID to Symbol Mapping:
         secid symbol  count
1016  108105.0    SPX  53706
232   102480.0    NDX  47796
3328  189691.0    XSP  32265
1261  109820.0    SPY  22140
229   102434.0    RUT  21932
...        ...    ...    ...
4222  212390.0   ENVB     18
3430  204010.0  QTNTQ     12
3854  209000.0  AFIIQ     12
5914  217736.0    GCT     12
3918  209920.0   NRBO      9

[5964 rows x 3 columns]

In [25]:
secid_summary[['symbol', 'count']].sort_values('count', ascending=False).head(20)

     symbol  count
1016    SPX  53706
232     NDX  47796
3328    XSP  32265
1261    SPY  22140
229     RUT  21932
993     QQQ  16064
1169   BKNG  12712
2777   TSLA  12250
1662    XEO  11706
3237    NQX  11476
788     IWM  10800
2077    CMG   9372
432     DIA   9266
1760    LQD   9170
1250    OEX   9150
1934    GLD   8986
1761    TLT   8762
69     AMZN   8318
140     AZO   7758
954    MSTR   7638

In [30]:
option_data_with_symbols[option_data_with_symbols['symbol'] == "XLF"]

,secid,date,symbol,symbol_flag,exdate,last_date,cp_flag,strike_price,best_bid,best_offer,...,theta,optionid,cfadj,am_settlement,contract_size,ss_flag,forward_price,expiry_indicator,root,suffix
178298,110012.0,2023-01-03,XLF,1,2023-01-20,2022-12-19,C,13000.0,21.3,21.4,...,-1.140601,136018842.0,1.0,0.0,100.0,0,<NA>,<NA>,<NA>,<NA>
180803,110012.0,2023-01-03,XLF,1,2023-01-20,2022-12-22,P,13000.0,0.0,0.01,...,-0.563666,136018867.0,1.0,0.0,100.0,0,<NA>,<NA>,<NA>,<NA>
187551,110012.0,2023-01-03,XLF,1,2023-01-20,2022-12-23,C,14000.0,20.3,20.4,...,-0.995729,136018843.0,1.0,0.0,100.0,0,<NA>,<NA>,<NA>,<NA>
189226,110012.0,2023-01-03,XLF,1,2023-01-20,2022-10-13,P,14000.0,0.0,0.01,...,-0.560297,136018868.0,1.0,0.0,100.0,0,<NA>,<NA>,<NA>,<NA>
204583,110012.0,2023-01-03,XLF,1,2023-01-20,2022-12-19,C,15000.0,19.3,19.4,...,-0.836576,136018844.0,1.0,0.0,100.0,0,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394356,110012.0,2023-01-05,XLF,1,2023-03-17,2022-12-12,P,56000.0,21.35,21.45,...,-0.45725,146058646.0,1.0,0.0,100.0,0,<NA>,<NA>,<NA>,<NA>
394959,110012.0,2023-01-05,XLF,1,2023-03-17,2022-10-18,C,57000.0,0.0,0.01,...,-0.142218,146058634.0,1.0,0.0,100.0,0,<NA>,<NA>,<NA>,<NA>
397368,110012.0,2023-01-05,XLF,1,2023-03-17,2022-12-12,P,57000.0,22.35,22.45,...,-0.453723,146058647.0,1.0,0.0,100.0,0,<NA>,<NA>,<NA>,<NA>
410237,110012.0,2023-01-05,XLF,1,2024-01-19,2022-12-21,C,60000.0,0.01,0.03,...,-0.097413,143552009.0,1.0,0.0,100.0,0,<NA>,<NA>,<NA>,<NA>
417196,110012.0,2023-01-05,XLF,1,2024-01-19,2022-12-12,P,60000.0,25.3,25.55,...,0.337656,143552010.0,1.0,0.0,100.0,0,<NA>,<NA>,<NA>,<NA>

In [28]:
option_data_with_symbols.columns

Index(['secid', 'date', 'symbol', 'symbol_flag', 'exdate', 'last_date',
       'cp_flag', 'strike_price', 'best_bid', 'best_offer', 'volume',
       'open_interest', 'impl_volatility', 'delta', 'gamma', 'vega', 'theta',
       'optionid', 'cfadj', 'am_settlement', 'contract_size', 'ss_flag',
       'forward_price', 'expiry_indicator', 'root', 'suffix'],
      dtype='object')

In [29]:
# Print one XLF row as a dictionary for easy reading
xlf_data = option_data_with_symbols[option_data_with_symbols['symbol'] == "XLF"]
if len(xlf_data) > 0:
    row_dict = xlf_data.iloc[0].to_dict()
    print("XLF Option Data Row (as dictionary):")
    for key, value in row_dict.items():
        print(f"'{key}': {value}")
else:
    print("No XLF data found")

XLF Option Data Row (as dictionary):
'secid': 110012.0
'date': 2023-01-03
'symbol': XLF
'symbol_flag': 1
'exdate': 2023-01-20
'last_date': 2022-12-19
'cp_flag': C
'strike_price': 13000.0
'best_bid': 21.3
'best_offer': 21.4
'volume': 0.0
'open_interest': 14.0
'impl_volatility': 1.611302
'delta': 0.998521
'gamma': 0.000405
'vega': 0.035702
'theta': -1.140601
'optionid': 136018842.0
'cfadj': 1.0
'am_settlement': 0.0
'contract_size': 100.0
'ss_flag': 0
'forward_price': None
'expiry_indicator': None
'root': None
'suffix': None

In [31]:
option_data_with_symbols[option_data_with_symbols['symbol'] == "XLF"]['strike_price'].unique()

<FloatingArray>
[13000.0, 14000.0, 15000.0, 16000.0, 17000.0, 18000.0, 19000.0, 20000.0,
 21000.0, 22000.0, 23000.0, 24000.0, 25000.0, 26000.0, 27000.0, 28000.0,
 28500.0, 29000.0, 29500.0, 30000.0, 30500.0, 31000.0, 31500.0, 32000.0,
 32500.0, 33000.0, 33500.0, 34000.0, 34500.0, 35000.0, 35500.0, 36000.0,
 36500.0, 37000.0, 37500.0, 38000.0, 38500.0, 39000.0, 39500.0, 40000.0,
 40500.0, 41000.0, 42000.0, 43000.0, 44000.0, 45000.0, 46000.0, 47000.0,
 48000.0, 49000.0, 50000.0, 51000.0, 52000.0, 53000.0, 54000.0, 55000.0,
 56000.0, 57000.0, 60000.0]
Length: 59, dtype: Float64

# First draft - dispersion trade

require: 
1. option_name data for the names of tickers 
2. option_data for the option data and 
3. secutiry price from secprd2023

In [ ]:
db = wrds.Connection(wrds_username='changjulian17')

query = """
SELECT 
    *
FROM optionm.secnmd
"""

# Execute query and load into DataFrame
option_name = db.raw_sql(query)

print(f"Retrieved {len(option_data)} option records")
print(option_data.head())

# Close connection
db.close()

In [41]:
option_name[option_name['ticker'] == 'SPY']

,secid,effect_date,cusip,ticker,class,issuer,issue,sic
5563,7571.0,1996-10-28,81750M10,SPY,<NA>,SERENPET INC,<NA>,<NA>
10623,100155.0,2009-11-02,32299W10,SPY,I,SPDR TRUST SERIES 1,INTRADAY,9999
71921,109820.0,1996-01-02,78462F10,SPY,<NA>,SPDR TR,UNIT SER 1,<NA>
71922,109820.0,2000-11-28,78462F10,SPY,<NA>,SPDR TR,UNIT SER 1,6726
71923,109820.0,2010-01-28,78462F10,SPY,<NA>,SPDR S&P 500 ETF TR,UNIT SER 1 S&P,6726
71924,109820.0,2010-07-08,78462F10,SPY,<NA>,SPDR S&P 500 ETF TR,TR UNIT,6726
71925,109820.0,2017-12-26,78462F10,SPY,<NA>,SPDR S&P 500 ETF TR,TR UNIT,6733
71926,109820.0,2020-07-27,78462F10,SPY,<NA>,SSGA ACTIVE TRUST,SSGA SPDR S&P 500,<NA>
71927,109820.0,2021-02-25,78462F10,SPY,<NA>,SSGA ACTIVE TRUST,SPDR S&P 500 ETF TRU,<NA>
71928,109820.0,2021-03-01,78462F10,SPY,<NA>,SSGA ACTIVE TRUST,S&P 500 ETF TRUST ET,<NA>
71929,109820.0,2023-02-23,78462F10,SPY,<NA>,SSGA ACTIVE TRUST,SPDR S&P 500 ETF TRU,<NA>
101128,115101.0,2009-11-02,93099W10,SPY,N,SPDR TURST SERIES 1,NAV,9999

In [42]:
# 1. Get secids for target tickers from secnmd with issuer filtering
target_tickers = ['SPY', 'XLF', 'XLY', 'XLK', 'XLV']
target_issuers = ['SPDR S&P 500 ETF TR', 'SECTOR SPDR TR', 
                  'SELECT SECTOR SPDR TR']

# Filter secnmd for target tickers AND issuers
target_securities = option_name[
    (option_name['ticker'].isin(target_tickers)) &
    (option_name['issuer'].isin(target_issuers))
]

target_secids = target_securities['secid'].tolist()

print(f"Found {len(target_secids)} secids for target tickers and issuers:")
print(target_securities[['secid', 'ticker', 'issuer']])

# Show breakdown by ticker
print("\nBreakdown by ticker:")
print(target_securities.groupby('ticker')['issuer'].value_counts())

Found 18 secids for target tickers and issuers:
          secid ticker                 issuer
71923  109820.0    SPY    SPDR S&P 500 ETF TR
71924  109820.0    SPY    SPDR S&P 500 ETF TR
71925  109820.0    SPY    SPDR S&P 500 ETF TR
73121  110008.0    XLV         SECTOR SPDR TR
73122  110008.0    XLV         SECTOR SPDR TR
73123  110008.0    XLV         SECTOR SPDR TR
73124  110008.0    XLV  SELECT SECTOR SPDR TR
73132  110010.0    XLY         SECTOR SPDR TR
73133  110010.0    XLY         SECTOR SPDR TR
73134  110010.0    XLY         SECTOR SPDR TR
73135  110010.0    XLY  SELECT SECTOR SPDR TR
73144  110012.0    XLF         SECTOR SPDR TR
73145  110012.0    XLF         SECTOR SPDR TR
73146  110012.0    XLF  SELECT SECTOR SPDR TR
73154  110014.0    XLK         SECTOR SPDR TR
73155  110014.0    XLK         SECTOR SPDR TR
73156  110014.0    XLK  SELECT SECTOR SPDR TR
73157  110014.0    XLK  SELECT SECTOR SPDR TR

Breakdown by ticker:
ticker  issuer
SPY     SPDR S&P 500 ETF TR      3
XLF     SECTOR SPDR TR           2
        SELECT SECTOR SPDR TR    1
XLK     SECTOR SPDR TR           2
        SELECT SECTOR SPDR TR    2
XLV     SECTOR SPDR TR           3
        SELECT SECTOR SPDR TR    1
XLY     SECTOR SPDR TR           3
        SELECT SECTOR SPDR TR    1
Name: count, dtype: int64

In [47]:
target_securities[['secid', 'ticker']].drop_duplicates()

          secid ticker
71923  109820.0    SPY
73121  110008.0    XLV
73132  110010.0    XLY
73144  110012.0    XLF
73154  110014.0    XLK